<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CarRegistration">
  <test thread-count="5" name="WebRegistrationValidation">
    <classes>
      <class name="com.CarRegReader.PatternCheck"/>
    </classes>
  </test> <!-- WebRegistrationValidation -->
</suite> <!-- CarRegistration -->
